<div class="">
	<div class="hero-image">
		<div class="hero-text">
			<h1 class=" w3-center w3-wide">La Bonne Nuit est ici!</h1>
			<p class="dtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
	</div>
	<div class="w3-container">
		<h2 class="w3-center w3-wide">Only best food in town</h2>
		<div class="w3-center"><i class="w3-text-grey">We only serve high quality foods...</i></div>
		<p class="w3-content w3-justify" style="max-width: 800px">
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
				<br><br>
				At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
				<br><br>
				Proin non gravida sapien. Phasellus rutrum enim et mauris dapibus, non convallis est vulputate. Aenean vitae cursus risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst. Duis sed tempor ante, eget maximus neque. Phasellus lacinia purus justo, eget molestie lorem porttitor at. Morbi consequat tortor eget eros elementum tristique. Nullam ipsum metus, euismod sit amet imperdiet non, blandit sed elit. Proin at purus vel metus pulvinar vulputate in sit amet purus. Mauris ac egestas dolor. Pellentesque a quam rhoncus ipsum tincidunt condimentum vel vel tellus.
		</p>
		<div class="w3-center w3-text-grey">--- Have a very great experience with us! ---</div>
	</div>
	<br><br><br><br>
	<div class="mid-image w3-container">
		<div class="w3-center">
			<div class="w3-center layout">
				<span class="w3-padding-large w3-xxlarge w3-wide">Check out our serving menu</span>
				<div class="w3-text-white w3-large"><i>Only high quality food...</i></div>
			</div>
			<br><br><br>
			<a routerLink="/menu"><button class="w3-btn w3-xlarge w3-text-white w3-border w3-border-white w3-padding-large menu-btn">La Menu</button></a>
		</div>
	</div>
	<br><br><br>
	<app-make-rs></app-make-rs>
</div>