.mid-image{
	background-image: url("page.jpg");
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-top: 80px;
	padding-bottom: 80px;
}

.layout{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color:rgba(256,256,256, 0.6);
}

.mid-text{
	background-color: rgba(256, 256, 256, 0.8);
	/* min-height: 200px; */
	padding-top: 20px;
	padding-bottom: 20px;
}

.menu-btn{
	background-color: rgba(256, 256, 256, 0.2);
}